<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Dog</title>
</head>
<body>
    <form method="POST" action="/dog">
        <label for="breed">Breed</label>
        <input type="text" name="breed">

        <label for="image">Image</label>
        <input type="text" name="image">

        <label for="age">Age</label>
        <input type="number" name="age">

        <button>Add</button>
    </form>
</body>
</html>